* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

.content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    display: inline-block;
}

.editing {
    color: red;
    padding: 3em;
    text-align: center;
    border: 3px solid red;
}

button {
    float: right;
    border-radius: 5px;
    padding: 0.25em;
    margin-right: 2em;
    margin-bottom: 1em;
    background-color: black;
    color: white;
}
